.hidden{
    display: none; 
    /*
    hidden: 공간은 있으나 시각적으로 사라짐
    none: 공간 사라짐
    */
}

/*이미지를 배경화면처럼 넣기*/
/*
img {
    position:absolute;
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
    opacity:80%;
    }
    */
    